/* to appy theme, add class theme in <body>
   theme list :
   - Dark sidebar [.dark-sidebar]
   - light sidebar
*/
body.dark-sidebar .sidebar {
  background: #343a40;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

body.dark-sidebar .sidebar-header {
  background: #31363c;
}

body.dark-sidebar .sidebar-title {
  color: #fff;
}

body.dark-sidebar .sidebar-toggle-lg > span {
  background: #fff;
}

body.dark-sidebar .sidebar-nav > ul > li > a {
  color: #96a0aa;
}

body.dark-sidebar .sidebar-nav > ul > li > a:hover {
  color: #fff;
}

body.dark-sidebar .sidebar-nav > ul > li.sb-dropdown > a:before {
  color: #96a0aa;
}

body.dark-sidebar .sidebar-nav > ul > li.sb-dropdown > .dropdown-lvl-1 > li > a {
  color: #96a0aa;
}

body.dark-sidebar .sidebar-nav > ul > li.sb-dropdown > .dropdown-lvl-1 > li > a:hover {
  background: rgba(255, 255, 255, 0.02);
  color: #fff;
}

body.dark-sidebar .sidebar-nav > ul > li.sb-dropdown > .dropdown-lvl-1 > li.active > a {
  color: #28a745;
}

body.dark-sidebar .sidebar-nav > ul > li.sb-dropdown:hover {
  text-decoration: none;
}

body.dark-sidebar .sidebar-nav > ul > li.sb-dropdown:hover > a {
  text-decoration: none;
  color: #fff;
}

body.dark-sidebar .sidebar-nav > ul > li.sb-dropdown.active {
  background: rgba(255, 255, 255, 0.02);
}

body.dark-sidebar .sidebar-nav > ul > li.sb-dropdown.active > a {
  color: #fff;
}

body.dark-sidebar .sidebar-nav > ul > li:hover {
  background: rgba(255, 255, 255, 0.02);
}

body.dark-sidebar .sidebar-nav > ul > li.active > a {
  color: #28a745;
}

body.dark-sidebar .sidebar-nav > ul > li.sidebar-divider {
  color: #626d78;
}

body.light-sidebar .sidebar {
  background: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body.light-sidebar .sidebar-header {
  background: #fafafa;
}

body.light-sidebar .sidebar-title {
  color: #343a40;
}

body.light-sidebar .sidebar-toggle-lg > span {
  background: #343a40;
}

body.light-sidebar .sidebar-nav > ul > li > a {
  color: #6c757d;
}

body.light-sidebar .sidebar-nav > ul > li > a:hover {
  color: #343a40;
}

body.light-sidebar .sidebar-nav > ul > li.sb-dropdown > a:before {
  color: #6c757d;
}

body.light-sidebar .sidebar-nav > ul > li.sb-dropdown > .dropdown-lvl-1 > li > a {
  color: #6c757d;
}

body.light-sidebar .sidebar-nav > ul > li.sb-dropdown > .dropdown-lvl-1 > li > a:hover {
  background: rgba(0, 0, 0, 0.03);
  color: #343a40;
}

body.light-sidebar .sidebar-nav > ul > li.sb-dropdown > .dropdown-lvl-1 > li.active > a {
  color: #28a745;
}

body.light-sidebar .sidebar-nav > ul > li.sb-dropdown:hover {
  text-decoration: none;
}

body.light-sidebar .sidebar-nav > ul > li.sb-dropdown:hover > a {
  text-decoration: none;
  color: #343a40;
}

body.light-sidebar .sidebar-nav > ul > li.sb-dropdown.active {
  background: rgba(0, 0, 0, 0.04);
}

body.light-sidebar .sidebar-nav > ul > li.sb-dropdown.active > a {
  color: #343a40;
}

body.light-sidebar .sidebar-nav > ul > li:hover {
  background: rgba(0, 0, 0, 0.04);
}

body.light-sidebar .sidebar-nav > ul > li.active > a {
  color: #28a745;
}

body.light-sidebar .sidebar-nav > ul > li.sidebar-divider {
  color: rgba(108, 117, 125, 0.6);
}

@media (min-width: 768px) {
  body.slim-sidebar .sidebar {
    width: 75px;
    overflow: visible;
  }
  body.slim-sidebar .sidebar .slimScrollDiv {
    overflow: visible !important;
  }
  body.slim-sidebar .sidebar-title {
    display: none;
  }
  body.slim-sidebar .sidebar-toggle-lg > span:nth-child(2) {
    width: 75%;
  }
  body.slim-sidebar .sidebar-toggle-lg > span:last-child {
    width: 50%;
  }
  body.slim-sidebar .sidebar-inner {
    overflow-x: visible !important;
    overflow-y: hidden !important;
    position: absolute;
  }
  body.slim-sidebar .sidebar-nav {
    width: auto;
  }
  body.slim-sidebar .sidebar-nav > ul > li {
    width: 75px;
    position: relative;
  }
  body.slim-sidebar .sidebar-nav > ul > li.sidebar-divider {
    display: none;
  }
  body.slim-sidebar .sidebar-nav > ul > li > a {
    position: relative;
  }
  body.slim-sidebar .sidebar-nav > ul > li > a:before {
    display: none;
  }
  body.slim-sidebar .sidebar-nav > ul > li > a > .fa {
    float: none;
    top: 0;
  }
  body.slim-sidebar .sidebar-nav > ul > li > a .text-nav {
    display: none;
  }
  body.slim-sidebar .sidebar-nav > ul > li.sb-dropdown > .dropdown-lvl-1 {
    display: none;
  }
  body.slim-sidebar .sidebar-nav > ul > li.sb-dropdown > a > .text-nav:before {
    display: none;
  }
  body.slim-sidebar .sidebar-nav > ul > li:hover {
    width: 300px;
  }
  body.slim-sidebar .sidebar-nav > ul > li:hover > a {
    width: 100%;
  }
  body.slim-sidebar .sidebar-nav > ul > li:hover > a > .text-nav {
    width: 225px;
    display: block;
    border-radius: 0 .25rem .25rem 0;
    padding: 16px 30px;
    position: absolute;
    top: 0;
    left: 75px;
  }
  body.slim-sidebar .sidebar-nav > ul > li:hover > a > .text-nav > .badge {
    top: 18px;
    right: 30px;
  }
  body.slim-sidebar .sidebar-nav > ul > li:hover.sb-dropdown > a > .text-nav {
    border-radius: 0 .25rem 0 0;
  }
  body.slim-sidebar .sidebar-nav > ul > li:hover.sb-dropdown > .dropdown-lvl-1 {
    width: 225px;
    max-height: 1000px;
    padding: 5px 0;
    margin-top: 0;
    border-radius: 0 0 .25rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: 75px;
  }
  body.slim-sidebar .sidebar-nav > ul > li:hover.sb-dropdown > .dropdown-lvl-1 > li > a {
    padding: 15px 30px;
  }
  body.slim-sidebar.dark-sidebar .sidebar-nav > ul > li:hover > a > .text-nav {
    background: #373e44;
  }
  body.slim-sidebar.dark-sidebar .sidebar-nav > ul > li:hover > .dropdown-lvl-1 {
    background: #3b4248;
  }
  body.slim-sidebar.light-sidebar .sidebar-nav > ul > li:hover > a > .text-nav {
    width: 227px;
    background: whitesmoke;
  }
  body.slim-sidebar.light-sidebar .sidebar-nav > ul > li:hover > .dropdown-lvl-1 {
    background: #fff;
    border: 1px solid #e9e9e9;
    border-width: 0 1px 1px 1px;
  }
  body.slim-sidebar .wrapper {
    margin-left: 75px;
  }
}
