.sidebar-nav > ul li.sb-dropdown.active > .dropdown-lvl-1 {
	max-height: 1000px;
}

.sidebar-nav {
	padding-top: 0px;
}

.sidebar-nav > ul li.sidebar-divider {
	padding: 20px 30px;
	font-weight: 500;
	background-color: #31363C;
}

.sidebar-nav > ul > li:hover > a {
	background-color: #383E44;
}

.wrapper {
	padding: 88px 30px 30px;
}

.breadcrumb-outer {
	margin-bottom: 18px !important;
}

.breadcrumb-outer h5 {
	/* font-size: 15px !important; */
}

.card-header.bg-default {
	background-color: rgba(247,247,247,.5);
	padding: 15px 30px;
}

.card .aksi .btn-aksi {
	background-color: #3C4248;
	cursor: pointer;
	border: 0px;
	color: #fff;
	border-radius: 0px;
	padding: 8px 15px 5px;
	margin-left: -2.5px;
	display: inline-block;
	text-decoration: none;
}

.card .aksi .btn-aksi.active {
	background-color: #28A745;
}

.card .aksi .btn-aksi:focus {
	
}

.card .panel {
	padding: 0 15px 5px;
	margin: 0px;
	border-top: 1px solid rgb(247,249,250);
}
.card .panel > div {
	padding: 13px 15px 0;
}

@media (max-width: 767px){
	.sidebar {
		margin-top: 0;
		z-index: 10135;
		top: 0;
		left: -270px;
		-webkit-transition: .35s ease-in-out;
		-o-transition: .35s ease-in-out;
		transition: .35s ease-in-out;
		background-color: #343A40;
	}
}