body {
  font-family: "Roboto";
  font-size: .875rem;
}

.badge-warning {
  color: #fff;
}

.dropdown-menu {
  width: 250px;
  font-size: .875rem;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.dropdown-menu.dropdown-notif {
  width: 350px;
}

.dropdown-menu.dropdown-notif .slimScrollBar {
  width: 4px !important;
  opacity: .2 !important;
  border-radius: 0 !important;
}

.dropdown-menu.dropdown-user {
  width: 300px;
  padding-top: 0;
}

.dropdown-item {
  padding: .625rem 1.25rem;
  -webkit-transition: .35s ease-in-out;
  -o-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
}

.dropdown-item.dropdown-header {
  padding: 1.25rem;
  font-weight: 500;
  margin-bottom: .625rem;
  border-radius: .25rem .25rem 0 0;
  color: #333;
}

.dropdown-item.dropdown-footer {
  padding: 1.25rem;
  font-weight: 500;
  margin-top: .625rem;
  border-radius: 0 0 .25rem .25rem;
}

.dropdown-item.notif {
  padding: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.dropdown-item.notif > .text-notif {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.dropdown-item.notif > .text-notif > .main-text {
  color: #333;
  margin-top: -5px;
}

.dropdown-item.notif > .text-notif > .meta-time {
  font-size: .75rem;
  color: #999;
}

.dropdown-item.thumb-user {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: .625rem;
  border-radius: .25rem .25rem 0 0;
}

.dropdown-item.thumb-user > .ident-user > .name-user {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
}

.dropdown-item.thumb-user > .ident-user > .position {
  color: #999;
}

.dropdown-item:active {
  background: #f8f9fa;
}

.nav-link {
  padding-left: .9375rem !important;
  padding-right: .9375rem !important;
  color: #333 !important;
}

.nav-link > .notif-menu {
  font-size: 1.125rem;
  color: #555;
  position: relative;
}

.nav-link > .notif-menu.has-notif:before {
  content: " ";
  width: 11px;
  height: 11px;
  background: #dc3545;
  border-radius: 50%;
  border: 2px solid #fff;
  position: absolute;
  top: -.25rem;
  left: 50%;
}

.nav-item.show > .nav-link {
  color: #999 !important;
}

.nav-item.show > .nav-link > .notif-menu {
  color: #999;
}

.breadcrumb-outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.breadcrumb-outer > .breadcrumb {
  padding: 0;
  margin-bottom: 0;
  background: none;
}

.breadcrumb-outer > .breadcrumb > li > a {
  color: #333;
}

.breadcrumb-outer > .breadcrumb > li > span {
  color: #999;
}

.card-header,.card-body {
  padding: 30px;
}

.list-group-item {
  padding: 18px 30px;
  border-color: rgba(0, 0, 0, 0.08);
}

.list-group-item.task-primary,.list-group-item.task-info,.list-group-item.task-success,.list-group-item.task-warning,.list-group-item.task-danger,.list-group-item.task-secondary {
  margin-bottom: 1px;
}

.list-group-item.task-primary:last-child,.list-group-item.task-info:last-child,.list-group-item.task-success:last-child,.list-group-item.task-warning:last-child,.list-group-item.task-danger:last-child,.list-group-item.task-secondary:last-child {
  margin-bottom: 0;
}

.list-group-item.task-primary {
  border-left: 3px solid #007bff !important;
}

.list-group-item.task-info {
  border-left: 3px solid #17a2b8 !important;
}

.list-group-item.task-success {
  border-left: 3px solid #28a745 !important;
}

.list-group-item.task-warning {
  border-left: 3px solid #ffc107 !important;
}

.list-group-item.task-danger {
  border-left: 3px solid #dc3545 !important;
}

.list-group-item.task-secondary {
  border-left: 3px solid #6c757d !important;
}

.btn,.form-control {
  font-size: .875rem;
}

.header {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.header .navbar {
  padding-left: 0;
  padding-right: 0;
}

.header .navbar-nav {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header .logo-wrapper {
  margin-left: 15px;
}

.header .logo-wrapper > .navbar-brand {
  padding: 0;
}

.header .dropdown-menu {
  margin-top: 12px;
}

.header .dropdown-menu.dropdown-notif {
  margin-top: 8px;
}

.header .dropdown-menu.dropdown-user {
  margin-top: 5px;
}

.nav-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.nav-header > .navbar-brand {
  font-size: 1rem;
}

.nav-header > .navbar-collapse {
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}

.search-header > .toggle-search-sm {
  display: none;
}

.search-header > form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.search-header > form > input {
  width: auto !important;
  border: 0;
  background: #f8f9fa;
  padding: 6px 12px 6px 12px;
  border-radius: .25rem 0 0 .25rem;
}

.search-header > form > input:focus {
  outline: none;
}

.search-header > form > button {
  border: 0;
  padding: 6px 12px;
  border-radius: 0 .25rem .25rem 0;
  color: #999;
  background: #f8f9fa;
}

.search-header > form > button:focus {
  outline: none;
}

.search-header > form > button:hover {
  cursor: pointer;
}

.sidebar {
  width: 270px;
  height: 100%;
  margin-top: 67px;
  display: block;
  overflow-y: hidden;
  position: fixed;
  left: 0;
  z-index: 999;
}

.sidebar .slimScrollBar {
  width: 2px !important;
  background: #28a745 !important;
  opacity: 1 !important;
  border-radius: 0 !important;
}

.sidebar .slimScrollRail {
  width: 2px !important;
  left: 0 !important;
}

.sidebar-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px 30px;
}

.sidebar-title {
  font-weight: 500;
}

.sidebar-toggle-lg > span {
  width: 15px;
  height: 2px;
  display: block;
  margin-bottom: 3px;
}

.sidebar-toggle-lg > span:last-child {
  margin-bottom: 0;
}

.sidebar-toggle-lg:hover {
  cursor: pointer;
}

.sidebar-nav {
  padding-top: 10px;
  padding-bottom: 200px;
}

.sidebar-nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-left: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 0;
}

.sidebar-nav > ul li {
  margin-bottom: 2px;
}

.sidebar-nav > ul li > a {
  display: block;
  padding: 16px 30px;
  font-weight: 500;
}

.sidebar-nav > ul li > a > .fa {
  width: 20px;
  margin-right: 8px;
  float: left;
  position: relative;
  top: 3px;
}

.sidebar-nav > ul li > a > .text-nav {
  display: block;
  padding-left: 28px;
  padding-right: 40px;
  position: relative;
}

.sidebar-nav > ul li > a > .text-nav > .badge {
  position: absolute;
  top: 3px;
  right: 0;
}

.sidebar-nav > ul li > a:hover {
  text-decoration: none;
}

.sidebar-nav > ul li.sb-dropdown > a {
  position: relative;
}

.sidebar-nav > ul li.sb-dropdown > a:before {
  content: "\f107";
  font-family: "fontAwesome";
  position: absolute;
  top: 16px;
  right: 30px;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.sidebar-nav > ul li.sb-dropdown > a > .text-nav.bd-dropdown {
  padding-right: 55px;
}

.sidebar-nav > ul li.sb-dropdown > a > .text-nav.bd-dropdown > .badge {
  right: 20px;
}

.sidebar-nav > ul li.sb-dropdown > .dropdown-lvl-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
  max-height: 0;
  overflow: hidden;
}

.sidebar-nav > ul li.sb-dropdown > .dropdown-lvl-1 > li {
  margin-bottom: 2px;
}

.sidebar-nav > ul li.sb-dropdown > .dropdown-lvl-1 > li > a {
  display: block;
  padding: 15px 30px 15px 58px;
}

.sidebar-nav > ul li.sb-dropdown > .dropdown-lvl-1 > li > a:hover {
  text-decoration: none;
}

.sidebar-nav > ul li.sb-dropdown.active > a:before {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.sidebar-nav > ul li.sb-dropdown.active > a:hover {
  background: none;
}

.sidebar-nav > ul li.sb-dropdown.active > .dropdown-lvl-1 {
  max-height: 400px;
}

.sidebar-nav > ul li.sidebar-divider {
  padding: 40px 30px 10px 30px;
  font-weight: 500;
}

.sidebar-nav > ul li.sidebar-divider:hover {
  background: none;
}

.wrapper {
  padding-top: 97px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 270px;
}

.text-facebook {
  color: #3b5999 !important;
}

.text-twitter {
  color: #55acee !important;
}

.text-linkedin {
  color: #0077B5 !important;
}

.text-skype {
  color: #00AFF0 !important;
}

.text-youtube {
  color: #cd201f !important;
}

.text-pinterest {
  color: #bd081c !important;
}

.text-google-plus {
  color: #dd4b39 !important;
}

.nav-card-icon {
  font-size: 1rem;
}

.img-shape {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0;
  overflow: hidden;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.img-shape:before {
  content: "\f007";
  font-family: "fontAwesome";
  color: #fff;
  font-size: 1rem;
}

.img-shape > img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.img-shape.img-shape-sm {
  width: 35px;
  height: 35px;
}

.img-shape.img-shape-lg {
  width: 60px;
  height: 60px;
}

.img-shape.img-shape-lg:before {
  font-size: 1.5rem;
}

.label {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  display: inline-block;
}

.label-primary {
  border: 2px solid #007bff;
}

.label-secondary {
  border: 2px solid #6c757d;
}

.label-info {
  border: 2px solid #17a2b8;
}

.label-success {
  border: 2px solid #28a745;
}

.label-warning {
  border: 2px solid #ffc107;
}

.label-danger {
  border: 2px solid #dc3545;
}

.label-dark {
  border: 2px solid #343a40;
}

.card-profile-1 .frame-img-outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px;
}

.card-profile-1 .frame-img-outer > .frame-img-inner {
  position: relative;
}

.card-profile-1 .frame-img-outer > .frame-img-inner > .frame-img {
  width: 128px;
  height: 128px;
  margin: 0;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #e9e9e9;
}

.card-profile-1 .frame-img-outer > .frame-img-inner > .frame-img > img {
  width: 100%;
}

.card-profile-1 .frame-img-outer > .frame-img-inner > .status-profile {
  width: 20px;
  height: 20px;
  border: 3px solid #fff;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.card-profile-1 .text-profile {
  text-align: center;
  margin-bottom: 30px;
}

.card-profile-1 .text-profile > .position-user {
  display: block;
  margin-bottom: 30px;
}

.card-profile-1 .meta-profile {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.card-profile-1 .meta-profile > .meta-item {
  text-align: center;
}

.card-profile-1 .meta-profile > .meta-item > h4 {
  font-weight: 700;
  margin-bottom: 0;
}

#lgd-ex-chart-db {
  display: block;
}

#lgd-ex-chart-db > ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

#lgd-ex-chart-db > ul > li {
  display: block;
  line-height: 1.8;
}

#lgd-ex-chart-db > ul > li > span {
  width: 12px;
  height: 12px;
  display: inline-block;
  margin-right: 10px;
}

#lgd-ex-donut-db {
  display: block;
  margin-top: 20px;
}

#lgd-ex-donut-db > ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

#lgd-ex-donut-db > ul > li {
  display: block;
  line-height: 1.8;
}

#lgd-ex-donut-db > ul > li > span {
  width: 12px;
  height: 12px;
  display: inline-block;
  color: #555;
  margin-right: 12px;
}

.wrapper-login {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.card-login {
  width: 400px;
}

.login-socmed > a:hover {
  text-decoration: none;
}

@media (max-width: 767px) {
  .breadcrumb-outer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  header {
    margin-top: 51px;
    position: relative !important;
  }

  header .logo-wrapper {
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #f8f9fa;
    margin-left: 0 !important;
    padding: 10px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
  }

  header .logo-wrapper > .navbar-brand {
    -webkit-transform: scale(0.85);
    -ms-transform: scale(0.85);
    transform: scale(0.85);
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
  }

  .sidebar-toggle-sm {
    height: 12px;
    position: relative;
  }

  .sidebar-toggle-sm > span {
    width: 15px;
    height: 2px;
    background: #333;
    display: block;
    position: relative;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
    -webkit-transition: .35s ease-in-out;
    -o-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
  }

  .sidebar-toggle-sm > span:first-child {
    top: 0;
  }

  .sidebar-toggle-sm > span:nth-child(2) {
    opacity: 1;
    top: 3px;
  }

  .sidebar-toggle-sm > span:last-child {
    top: 6px;
  }

  .sidebar-toggle-sm.active > span:first-child {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .sidebar-toggle-sm.active > span:nth-child(2) {
    width: 0;
    opacity: 0;
  }

  .sidebar-toggle-sm.active > span:last-child {
    top: 6px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .sidebar-toggle-sm:hover {
    cursor: pointer;
  }

  .nav-header {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .nav-header > .navbar-collapse {
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .search-header {
    padding-left: 15px;
    position: relative;
    z-index: 999;
  }

  .search-header > .toggle-search-sm {
    display: block;
    font-size: 1rem;
  }

  .search-header > .toggle-search-sm:hover {
    cursor: pointer;
  }

  .search-header > form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #fff;
    padding: 15px 20px;
    border-radius: .25rem;
    margin-top: 8px;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    -webkit-transition: .35s ease-in-out;
    -o-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
  }

  .search-header > form > input,.search-header > form > button {
    background: #fff;
    border-bottom: 1px solid #e9e9e9;
    border-radius: 0;
  }

  .search-header.active > form {
    opacity: 1;
    visibility: visible;
  }

  .sidebar {
    margin-top: 0;
    z-index: 9999;
    top: 0;
    left: -270px;
    -webkit-transition: .35s ease-in-out;
    -o-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
  }

  .sidebar.active {
    left: 0;
    right: auto;
  }

  .sidebar-toggle-lg {
    display: none;
  }

  .wrapper {
    padding-top: 30px !important;
    margin-left: 0 !important;
  }
}

@media (max-width: 575px) {
  .header {
    padding-left: 0;
    padding-right: 0;
  }

  .header .logo-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }

  .header .dropdown {
    position: static;
  }

  .header .dropdown-menu {
    width: 95%;
  }

  .header .dropdown-menu.dropdown-menu-left,.header .dropdown-menu.dropdown-menu-right {
    top: 80%;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .wrapper-login {
    padding-left: 20px;
    padding-right: 20px;
  }

  .card-login {
    width: 100%;
  }
}
